<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ppkFile" value=""/>
    <add key ="ftpPath" value=""/>
    <add key ="port" value=""/>
    <add key ="userName" value=""/>
    <add key ="remotePath" value=""/>
    <add key ="localPath" value=""/>
    <add key ="ftpoperation" value=""/>
  </appSettings>
</configuration>