<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ppkFile" value="C:\key\key.ppk"/>
    <add key ="ftpPath" value="somesite.com"/>
    <add key ="port" value="3333"/>
    <add key ="userName" value="ftpuser"/>
    <add key ="remotePath" value="docs/test"/>
    <add key ="localPath" value="C:\Test\"/>
    <add key ="ftpoperation" value="upload"/>
  </appSettings>
</configuration>